<div class="parent">
    <div class="card">
        <h2>Login Form</h2>
    
        <!-- SE CONNECTER / S'INSCRIRE -->
        <div class="login_register">
            <a href="login" class="login" target="blank">Login</a>
            <a href="signup" class="register" target="blank">Signup</a>
        </div>
    
        <!-- FORMULAIRE -->
        <form class="form" (ngSubmit)="onLogin()">
            <input type="email" name="email" [(ngModel)]="loginObj.email" placeholder="Email Address" class="email" required>
            <input type="password" name="password" [(ngModel)]="loginObj.password" placeholder="Password" class="pass" required>
        </form>
    
        <!-- MOT DE PASSE OUBLIE ? -->
        <a href="#" class="fp">Forgot password?</a>
    
        <!-- BOUTON LOGIN -->
        <button type="button" (click)="onLogin()" class="login_btn">Login</button>
    
        <!-- PIED DE LA CARD -->
        <div class="footer_card">
            <p>Not a member?</p>
            <a href="signup">Signup now</a>
        </div>
    </div>
</div>
